* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

.header {
    width: 1000px;
    margin: 0 auto;
}

.articleTitle {
    /*height: 40px;*/
    font: 400 32px 'Arial Black';
    text-align: center;
    line-height: 40px;
}

.arthur {
    width: 400px;
    height: 70px;
    margin: 50px auto;
}

.arthurImage {
    height: 70px;
    float: left;
}

.arthurName {
    width: 230px;
    font: 10px 'Microsoft YaHei';
    float: left;
    margin: 0 0 0 15px;
}